# VARify


## Workflow


<img src="wf.png" width="600">

# Functions

In [85]:
# Utility File

# libraries
import warnings
import pandas as pd

# For every row in here, we're going to apply this uniqueSNP function

def mergeTab(mp, so):
    sub_mp = mp[['snp_pos', 'pileup']]
    mdf = pd.merge(so, sub_mp, on='snp_pos')
    return mdf


def varOnly(a):
    '''
    purpose: remove non-nt values in pileup
    input: string of mpileup 
    output: nt string
    '''
    x = [i for i in a if i.upper() in ['A','C','T','G']]
    
    return x

def isMono(ref, temp):
    # Check if two snps are monomorphic
    c=0
    count = [c+1 for snp in temp if snp == ref]
    if sum(count) >= 2: 
        warnings.warn("More than 2 monomorphic alleles at position.")
        return True
    else:
        return False
    
def multiError(x, pos):
    if len(x) > 2: 
        warnings.warn("There are more than 2 SNPS at position"); print(pos)
    
def uniqueSNP(x):
    '''
    Takes mPileup
    Confirm Alt
    '''
    l = str(x['pileup'])
    # make upper
    l = l.upper() # just to make simple
    l = varOnly(l)

    # Get list of unique
    a = [i for i in l]
    a_unique = list(set(a)) 
    
    # create a dictionary
    df = pd.DataFrame()
    temp = [i for i in x['ref_codon']]
    snp_dict = {}
    
#     flag = False
    
#     multiError(a_unique, x['snp_pos'])

    test = []
    '''
    Creates a combination of SNPs
    Replaces Alt at each position
    '''
    for snp in a_unique:
        snp_dict['snp_pos'] = int(x['snp_pos'])
        snp_dict['varify_alt'] = snp

#         if flag:
#             snp_dict['flag'] = '*'
#         else:
#             snp_dict['flag'] = ''
        
#         for i in range(len(temp)):
#             temp[i] = snp
#             test.append(''.join(temp))
#             snp_dict[f"varify_codon{i+1}"] = ''.join(temp)
#             temp = [i for i in ref]
            
#         flag = isMono(ref, test)  
        
#         if flag: 
#             snp_dict['flag'] = '*'
#         else:
#             snp_dict['flag'] = ''
            
        df = df.append(snp_dict, ignore_index=True)


        snp_dict = {}
        test = []

    df = pd.merge(cf, df, on='snp_pos')
    return df

def altValidate(x):
    # Varify alt == Alt? T or F
    # Add flag to capture
    
    x['VARified'] = 'Yes' if x['alt_allele'] == x['varify_alt'] else 'No'
    
    return x

def varify(x):
    df = x.apply(axis=1, func=uniqueSNP)
    df = pd.concat(list(df))
    x = df.apply(axis=1, func=altValidate)

    df = x.apply(axis = 1, func=altCombo)
    df = pd.concat(list(df))
    df = pd.merge(x, df, on='snp_pos')
    
    reorg = ['chr_id', 'snp_pos', 'ref_allele', 'alt_allele', 
             'varify_alt', 'VARified', 
             'codon1_genome_pos','codon2_genome_pos',
             'codon3_genome_pos', 'ref_codon', 
             'varify_codon1', 'varify_codon2', 'varify_codon3',#'flag'
            ]
    
    return df[reorg]

def getAlt(x):
    
    '''
    Takes mPileup
    Out: list of uniqueSNP
    '''
    l = x['pileup'].astype(str)[0]
    # make upper
    l = [i for i in l if i.upper() in ['A','C','T','G']]

    # Get list of unique
    a = [i for i in l]
    a_unique = list(set(a)) 
    a_unique
    
    return(a_unique)


def translate(x):
    table = {
    'ATA':'I', 'ATC':'I', 'ATT':'I', 'ATG':'M',
    'ACA':'T', 'ACC':'T', 'ACG':'T', 'ACT':'T',
    'AAC':'N', 'AAT':'N', 'AAA':'K', 'AAG':'K',
    'AGC':'S', 'AGT':'S', 'AGA':'R', 'AGG':'R',                
    'CTA':'L', 'CTC':'L', 'CTG':'L', 'CTT':'L',
    'CCA':'P', 'CCC':'P', 'CCG':'P', 'CCT':'P',
    'CAC':'H', 'CAT':'H', 'CAA':'Q', 'CAG':'Q',
    'CGA':'R', 'CGC':'R', 'CGG':'R', 'CGT':'R',
    'GTA':'V', 'GTC':'V', 'GTG':'V', 'GTT':'V',
    'GCA':'A', 'GCC':'A', 'GCG':'A', 'GCT':'A',
    'GAC':'D', 'GAT':'D', 'GAA':'E', 'GAG':'E',
    'GGA':'G', 'GGC':'G', 'GGG':'G', 'GGT':'G',
    'TCA':'S', 'TCC':'S', 'TCG':'S', 'TCT':'S',
    'TTC':'F', 'TTT':'F', 'TTA':'L', 'TTG':'L',
    'TAC':'Y', 'TAT':'Y', 'TAA':'*', 'TAG':'*',
    'TGC':'C', 'TGT':'C', 'TGA':'*', 'TGG':'W',}
    
    codon = x['varify_codon'][0]
    if "*" in codon:
        x['varify_aa'] =""
    else:
        x['varify_aa'] =table[codon]
    return(x)

def effect(x):
    # missense
    # nonsense
    x['effect'] = '_'
    

###################Older, probably outdated############################

# Codon Combos
import numpy as np
import math 

def altDict(x):
    '''
    
    Creates a combination of SNPs
    if snps have existing alts
    
    Outputs into a dictionary
    
    '''
    # At each line, takes reference codon
    # sub_x = x.loc[x['VARified'] == 'Yes']
    
    # create a dictionary of Alts
    alt_dict = dict(zip(x['snp_pos'], x['alt_allele']))
    clean_dict = {k: alt_dict[k] for k in alt_dict if pd.isna(alt_dict[k]) == False}
    return clean_dict

# alt_dict = altDict(merged_var)

def altCombo(x):
    '''
    Creates combos based on
    Current position and alt dictionary
    Can be used with apply
    '''
    alt_dict = altDict(x)
    p3 = int(x['snp_pos'])
    p2 = p3-1
    p1 = p2-1
    
    subDict = {p1 : '.', p2 : '.', p3 : '.'}
    
    # create a dictionary
    ref = x['ref_codon']
    df = pd.DataFrame()
    temp = [i for i in ref]
    snp_dict = {}
    
    # Add values from full dictionary if keys are in sub
    res = {key: alt_dict.get(key, subDict[key]) for key in subDict}
    res = ''.join(res.values())
        
    # Create combination of alts
    # at pos3, replace 1; at pos2, replace 2
    for n in range(3):
        snp_dict['snp_pos'] = int(x['snp_pos'])
        if res[n] != '.':
            # replace res into temp
            temp[n:] = res[n:]
            snp_dict[f"varify_codon{n+1}"] = ''.join(temp)
            
        else:
            snp_dict[f"varify_codon{n+1}"] = np.nan

        temp = [i for i in ref]
    
    df = df.append(snp_dict, ignore_index=True)
        
    #df = pd.concat(list(df))
    #print(df)     
    #df = pd.merge(x, df, on='snp_pos')
    
    return(df)

def flatten(d, parent_key='', sep='_'):
    import collections
    items = []
    for k, v in d.items():
        new_key = parent_key + sep + k if parent_key else k
        if isinstance(v, collections.MutableMapping):
            items.extend(flatten(v, new_key, sep=sep).items())
        else:
            items.append((new_key, v))
    return dict(items)

## Exploring Data

In [2]:
%load_ext autoreload
%autoreload 2

import pandas as pd

# mpileup 
mp = pd.read_table('../data/test/mpiletest-out.txt', header=None)
mp = mp.rename(columns={1:"snp_pos", 4:"pileup"})

# custom out file
cf = pd.read_table('../data/test/snp_out.txt')

In [3]:
# column names
# cols = ['chr_id', 'snp_pos', 'ref_allele', 
#         'alt_allele', 'gene_id', 'mrna_id',
#         'prot_id', 'strand', 'effect', 
#         'snp_cds_pos', 'codon1_genome_pos',
#         'codon2_genome_pos', 'codon3_genome_pos', 
#         'snp_aa_pos', 'ref_codon','alt_codon', 
#         'ref_aa', 'alt_aa']

sub_cols = ['chr_id', 'snp_pos', 'ref_allele', 
            'alt_allele', 'codon1_genome_pos',
            'codon2_genome_pos', 'codon3_genome_pos', 
            'ref_codon']

# subset of custom file, cf
sub_cf = cf[sub_cols]
sub_cf

,chr_id,snp_pos,ref_allele,alt_allele,codon1_genome_pos,codon2_genome_pos,codon3_genome_pos,ref_codon
0,chr1,521,G,C,519,520,521,AAG
1,chr1,523,A,T,521,522,523,GTA
2,chr1,524,C,G,522,523,524,TAC

In [4]:
mp

,0,snp_pos,2,3,pileup,5,6
0,seq1,521,G,26,".,......A.a.A,..,..,.,.,,^].",DJJJJJJJJJJJJJJJJJJJJJJJA7,]]]]]]]]]]]]]]]]]]]]]]]]]]
1,seq1,522,T,25,",...........,..,..,.,.,,.",JJJJJJJJJJJJJJJJJJJJJJJA7,]]]]]]]]]]]]]]]]]]]]]]]]]
2,seq1,523,A,25,tTTTTTTTTTTTtTTtTTtTtTttT,JJJJJJJJJJJJJJJJJJJJJJJA7,]]]]]]]]]]]]]]]]]]]]]]]]]
3,seq1,524,C,27,",...G.......,.G,..,.,.,,G..",JJJJJJJJJJJJJJJJJJJJJJJJG88,]]]]]]]]]]]]]]]]]]]]]]]]]]]

## Merging the two dataframes together

In [5]:
sub_mp = mp[['snp_pos','pileup']]
merged_var = pd.merge(cf, sub_mp, on='snp_pos')
merged_var

,chr_id,snp_pos,ref_allele,alt_allele,gene_id,mrna_id,prot_id,strand,effect,snp_cds_pos,codon1_genome_pos,codon2_genome_pos,codon3_genome_pos,snp_aa_pos,ref_codon,alt_codon,ref_aa,alt_aa,pileup
0,chr1,521,G,C,seq1,seq1.1,seq1.1,+,synonymous,265,519,520,521,89,AAG,AAC,K,N,".,......A.a.A,..,..,.,.,,^]."
1,chr1,523,A,T,seq1,seq1.1,seq1.1,+,synonymous,267,521,522,523,89,GTA,GTT,E,E,tTTTTTTTTTTTtTTtTTtTtTttT
2,chr1,524,C,G,seq1,seq1.1,seq1.1,+,synonymous,268,522,523,524,89,TAC,TAG,Y,X,",...G.......,.G,..,.,.,,G.."

## Split Dataframe

Splitting the snpeff table by codons, get genome position and alt/ref codon

In [7]:
# mdf = mergeTab(mp, cf)
# varify(merged_var)

In [8]:
# pile up 
mp

,0,snp_pos,2,3,pileup,5,6
0,seq1,521,G,26,".,......A.a.A,..,..,.,.,,^].",DJJJJJJJJJJJJJJJJJJJJJJJA7,]]]]]]]]]]]]]]]]]]]]]]]]]]
1,seq1,522,T,25,",...........,..,..,.,.,,.",JJJJJJJJJJJJJJJJJJJJJJJA7,]]]]]]]]]]]]]]]]]]]]]]]]]
2,seq1,523,A,25,tTTTTTTTTTTTtTTtTTtTtTttT,JJJJJJJJJJJJJJJJJJJJJJJA7,]]]]]]]]]]]]]]]]]]]]]]]]]
3,seq1,524,C,27,",...G.......,.G,..,.,.,,G..",JJJJJJJJJJJJJJJJJJJJJJJJG88,]]]]]]]]]]]]]]]]]]]]]]]]]]]

In [9]:
# snp-eff like table
cf

,chr_id,snp_pos,ref_allele,alt_allele,gene_id,mrna_id,prot_id,strand,effect,snp_cds_pos,codon1_genome_pos,codon2_genome_pos,codon3_genome_pos,snp_aa_pos,ref_codon,alt_codon,ref_aa,alt_aa
0,chr1,521,G,C,seq1,seq1.1,seq1.1,+,synonymous,265,519,520,521,89,AAG,AAC,K,N
1,chr1,523,A,T,seq1,seq1.1,seq1.1,+,synonymous,267,521,522,523,89,GTA,GTT,E,E
2,chr1,524,C,G,seq1,seq1.1,seq1.1,+,synonymous,268,522,523,524,89,TAC,TAG,Y,X

# VARify for same ALT as prediction

| Pos     | Ref     | Alt |Varify_Alt|Varify|
| ----------- | ----------- | ----------- | ----------- | ----------- |
|202| A      | T       |T|Yes|
|204| C   | G        |.|No|

In [ ]:
varify_out = varify(merged_var)

varify_out.iloc[:,:6]

# Capture codon combinations from different positions

Logic: 
If position 1,2,3 and 1 and 3 have variances - we want to maintain these variances. 

We can place variances of 1 and 3 into dictionaries. 
If at position 3 and position 1 has variances --> combine and showcase AA

In [ ]:
# 3/31/23 - Do not remove Non-VARify Alts
# sub_x = varify_out.loc[varify_out['VARified'] == 'Yes'] 
# alt_dict = dict(zip(sub_x['snp_pos'], sub_x['alt_allele']))
df = varify_out.apply(axis = 1, func=altCombo)
df = pd.concat(list(df))
df = pd.merge(varify_out, df, on='snp_pos')
df

In [ ]:
out = varify(merged_var)
out[['chr_id', 'snp_pos', 'ref_allele', 'alt_allele', 'varify_alt',
       'VARified','ref_codon', 'varify_codon1', 'varify_codon2',
       'varify_codon3']]

# Running Script

In [ ]:
%reload_ext autoreload
%autoreload 2

%run '../script/main.py' --in_mp '../data/test/mpiletest-out.txt' --in_so '../data/test/snp_out.txt'

---

# Case 1

Consider the following mutation that introduces a G->A mutation.
 
VCF:
Chr1	1100023      	.       	G     	A      	60    	PASS	.       	GT    	0/1
 
* Genotype: G/A
* Reference base: G
* Alternate base: A
* Predicted reference codon: TGG (tryptophan)
* Predicted alternate codon: TGA (premature termination codon)
 
A tool like snpEff can be used to predict the effect of the mutation using a reference genome annotation (e.g., GFF). In this case the mutation occurs in a coding exon at third position of a codon that codes for tryptophan in the reference proteome and a premature termination codon in the case of the alternate allele. snpEff will determine the reference and alternate codon and return the two codons and their translation.
 
The predicted effect is therefore a nonsense mutation.

## Goal Example
| chr_id|snp_pos     | Ref     | Pred_Alt |Varify_Alt|VARified|ref_codon|varify_codon|aa|effect|
| -----------| ----------- | ----------- | ----------- | ----------- | ----------- |----------- |----------- |----------- |----------- |
|Chr1|1100023| G      | A       |A|Yes| TGG | TGA |*|stop_gain|

## Read in the Toy Mpileup File

In [61]:
def readMP(x):
    import pandas as pd
    mp = pd.read_table(x, header=None)
    mp = mp.rename(columns={1:"snp_pos", 2:"ref", 4:"pileup"})
    
    return(mp)
    
# mpileup 
mp1 = readMP('../data/test/case1_pileup.txt')

mp1

      0  snp_pos ref   3         pileup
0  Chr1  1100021   T  12  .............
1  Chr1  1100022   G  13  .............
2  Chr1  1100023   G  13  ...A...A..A..

## Read in VCF File

In [62]:
# The toy VCF
import pandas as pd
toy_vcf = pd.read_table('../data/toy/toy.vcf')

toy_vcf

  #CHROM      POS ID REF ALT  QUAL FILTER INFO FORMAT NA00001
0   Chr1  1100023  .   G   A    60   PASS    .     GT     0/1
1   Chr2   312000  .   G   A    60   PASS    .     GT     0/1
2   Chr2   312001  .   T   C    55   PASS    .     GT     0/1

## Toy SNPeff Table

In [63]:
# Toy Table
toy_snpeff = pd.read_table('../data/toy/toy.snp_effects.tsv')
toy_snpeff

,chr_id,snp_pos,ref_allele,alt_allele,gene_id,mrna_id,prot_id,strand,effect,snp_cds_pos,codon1_genome_pos,codon2_genome_pos,codon3_genome_pos,snp_aa_pos,ref_codon,alt_codon,ref_aa,alt_aa
0,Chr1,1100023,G,A,gene1,mrna1,prot1,+,stop_gain,21,1100021,1100022,1100023,7,TGG,TGA,W,*
1,Chr2,312000,G,A,gene2,mrna2,prot2,+,nonsynonymous,4,312000,312001,312002,2,**G,**A,V,I
2,Chr2,312001,T,C,gene2,mrna2,prot2,+,nonsynonymous,5,312000,312001,312002,2,*GT,*GA,V,A

## Merge the mpileup & snpeff table

In [64]:
# if pileup information is . at the previous positions, output the reference, else variant
def mergeTab(mp, so):
    sub_mp = mp[['snp_pos', 'ref', 'pileup']]
    mdf = pd.merge(so, sub_mp, on='snp_pos')
    return mdf

# Merging the two tables
x = mergeTab(mp1, toy_snpeff)

# dictionary of alternate codons from pileup
mp_dict = altDict(x)

In [65]:
# merged tables
x

,chr_id,snp_pos,ref_allele,alt_allele,gene_id,mrna_id,prot_id,strand,effect,snp_cds_pos,codon1_genome_pos,codon2_genome_pos,codon3_genome_pos,snp_aa_pos,ref_codon,alt_codon,ref_aa,alt_aa,ref,pileup
0,Chr1,1100023,G,A,gene1,mrna1,prot1,+,stop_gain,21,1100021,1100022,1100023,7,TGG,TGA,W,*,G,...A...A..A..

In [66]:
# dictionary of alts from merged tables
mp_dict

{1100023: 'A'}

In [67]:
'''
Using this information, 
we're going to create our varify codon based on any
existing alts on all positions. 

If the position does not exist, we take from the referenc
'''
alt_dict = mp_dict
# a_unique = getAlt(x) # Replaced with alt_dict[3]

# Takes the current position of SNP
p3 = int(x['snp_pos'])
p2 = p3-1 
p1 = p2-1

subDict = {p1 : '.', p2 : '.', p3 : '.'}

# create a dictionary
ref = str(x['ref_codon'][0]) # starts from reference

# set up to create varify_alt
df = pd.DataFrame()
temp = [i for i in ref]
snp_dict = {}

# Add values from full dictionary if keys are in sub
res = {key: alt_dict.get(key, subDict[key]) for key in subDict}
res = ''.join(res.values())

for n in range(3):
    snp_dict['snp_pos'] = int(x['snp_pos'][0])
    snp_dict['varify_alt'] = alt_dict[p3] # alt of 'current' position
    if res[n] != '.':
        temp[n] = res[n]
        
    snp_dict["varify_codon"] = ''.join(temp)
    
# snp_dict output: {'snp_pos': 1100023, 'varify_alt': 'A', 'varify_codon': 'TGA'}

# Add the dictionary 
df = df.append(snp_dict, ignore_index=True)
df = pd.merge(x, df, on='snp_pos')
df = df.apply(axis=1, func=altValidate)

In [68]:
df = translate(df)
#df = effect(df)

reorg = ['chr_id', 'snp_pos', 'ref_allele', 'alt_allele', 
         'varify_alt', 'VARified', 'ref_codon', 'varify_codon', 'varify_aa', #'effect'
        ]

df = df[reorg]

df

,chr_id,snp_pos,ref_allele,alt_allele,varify_alt,VARified,ref_codon,varify_codon,varify_aa
0,Chr1,1100023,G,A,A,Yes,TGG,TGA,*

---

# Case 2: Multi-substitution case

In the case of multi substitution, we have alts on pos1 and pos2 of the codon. 
We want to capture this information, although pos3 has no alt

## Case2 Mpileup

In [70]:
mp2 = readMP('../data/toy/toy_mpileup.txt')
mp2

      0  snp_pos ref   3 pileup
0  Chr2   312000   G  12   .A.A
1  Chr2   312001   T  13    ..C
2  Chr2   312002   A  13    ...

## Case2 Snpeff-like table

In [96]:
toy_snpeff2 = pd.read_table('../data/toy/toy.snp_effects.tsv') # toy_snpeff
toy_snpeff2

,chr_id,snp_pos,ref_allele,alt_allele,gene_id,mrna_id,prot_id,strand,effect,snp_cds_pos,codon1_genome_pos,codon2_genome_pos,codon3_genome_pos,snp_aa_pos,ref_codon,alt_codon,ref_aa,alt_aa
0,Chr1,1100023,G,A,gene1,mrna1,prot1,+,stop_gain,21,1100021,1100022,1100023,7,TGG,TGA,W,*
1,Chr2,312000,G,A,gene2,mrna2,prot2,+,nonsynonymous,4,312000,312001,312002,2,**G,**A,V,I
2,Chr2,312001,T,C,gene2,mrna2,prot2,+,nonsynonymous,5,312000,312001,312002,2,*GT,*GC,V,A

## Goal Example
| chr_id|snp_pos     | Ref     | Pred_Alt |Varify_Alt|VARified|ref_codon|varify_codon|pred_codon|varify_aa|effect|alt_codons|
| ---| --- | --- | --- | --- | --- |--- |--- |--- |--- |---|--|
|Chr2|312000| G      | A       |A|Yes| **G | **A |T|*||
|Chr2|312001| T      | C       |C|Yes| *GT | *GA |T|*||

## Merging mpileup and snpeff together

In [95]:
# Merging the two tables
x2 = mergeTab(mp2, toy_snpeff2)

# dictionary of alternate codons from pileup
mp_dict2 = altDict(x2)

mp_dict2

{312000: 'A', 312001: 'C'}

In [73]:
x2

,chr_id,snp_pos,ref_allele,alt_allele,gene_id,mrna_id,prot_id,strand,effect,snp_cds_pos,codon1_genome_pos,codon2_genome_pos,codon3_genome_pos,snp_aa_pos,ref_codon,alt_codon,ref_aa,alt_aa,ref,pileup
0,Chr2,312000,G,A,gene2,mrna2,prot2,+,nonsynonymous,4,312000,312001,312002,2,**G,**A,V,I,G,.A.A
1,Chr2,312001,T,C,gene2,mrna2,prot2,+,nonsynonymous,5,312000,312001,312002,2,*GT,*GA,V,A,T,..C

In [74]:
import itertools

permutations = list(itertools.product(["A","G"], ["T","C"], ["A"]))

print(permutations)

["".join(x) for x in permutations]

[('A', 'T', 'A'), ('A', 'C', 'A'), ('G', 'T', 'A'), ('G', 'C', 'A')]

['ATA', 'ACA', 'GTA', 'GCA']

In [75]:
# import math

# math.isnan(mp_dict2[312001])

In [92]:

    
'''
Using this information, 
we're going to create our varify codon based on any
existing alts on all positions. 

starting from last position 312002
'''
import itertools
    
# Merging the two tables
x = x2[x2.snp_pos == 312001] # just an example, should go through every row in snp table

# dictionary of alternate codons from pileup
mp_dict2 = altDict(x2)

alt_dict = mp_dict2
# a_unique = getAlt(x) # Replaced with alt_dict[3]

# Takes the current position of SNP
p3 = int(x['snp_pos'])
p2 = p3-1 
p1 = p2-1

subDict = {p1 : '.', p2 : '.', p3 : '.'}
nt1=[]
nt2=[]
nt3=[]

# set up to create varify_alt
ref = str(x2['ref_codon'][0]) # starts from reference
df = pd.DataFrame()
temp = [i for i in ref] # temp from reference

# create a reference dictionary
snp_dict = {}
# altCombo =

# Add values from full dictionary if keys are in sub
res = {key: alt_dict.get(key, subDict[key]) for key in subDict}
res = ''.join(res.values())

# if there are alts in any of the positions, create varify codon
for p in [p1, p2, p3]:
    if p in list(alt_dict.keys()):
        pos_check = True
        break

# If the position exists in the dictionary, then create varify_alt 
if pos_check == True: 
    for n in range(3):
        snp_dict['snp_pos'] = int(p3)

        # alt of 'current' position if exists
        snp_dict['varify_alt'] = alt_dict[p3] if p3 in alt_dict.keys() == True else temp[2]

        # replace only values that exist
        if res[n] != '.':
            temp[n] = res[n]

        snp_dict["varify_codon"] = ''.join(temp)
        
        
    nt1.extend([snp_dict["varify_codon"][0], ref[0]])
    nt2.extend([snp_dict["varify_codon"][1], ref[1]])
    nt3.extend([snp_dict["varify_codon"][2], ref[2]])
    
    permutations = list(itertools.product(set(nt1), set(nt2), set(nt3)))
    snp_dict['alt_codons'] = ["".join(x) for x in permutations]
    snp_dict['alt_codons'] = ';'.join(snp_dict['alt_codons'])


    print(["".join(x) for x in permutations])

    
    
# snp_dict output: {'snp_pos': 1100023, 'varify_alt': 'A', 'varify_codon': 'TGA'}

# If there are extras, create extra list

['*AC', '*AG', '**C', '**G']

In [93]:
# Add the dictionary 
df = df.append(snp_dict, ignore_index=True)
df = pd.merge(x, df, on='snp_pos')
df = df.apply(axis=1, func=altValidate)
df = translate(df)
df

,chr_id,snp_pos,ref_allele,alt_allele,gene_id,mrna_id,prot_id,strand,effect,snp_cds_pos,...,alt_codon,ref_aa,alt_aa,ref,pileup,varify_alt,varify_codon,alt_codons,VARified,varify_aa
0,Chr2,312001,T,C,gene2,mrna2,prot2,+,nonsynonymous,5,...,*GA,V,A,T,..C,G,*AC,*AC;*AG;**C;**G,No,

In [94]:
#df = effect(df)
reorg = ['chr_id', 'snp_pos', 'ref_allele', 'alt_allele', 
         'varify_alt', 'VARified', 'ref_codon', 'varify_codon', 'varify_aa', "alt_codons",
         #'effect'
        ]
df[reorg]

,chr_id,snp_pos,ref_allele,alt_allele,varify_alt,VARified,ref_codon,varify_codon,varify_aa,alt_codons
0,Chr2,312001,T,C,G,No,*GT,*AC,,*AC;*AG;**C;**G

## Turning this into a function

Things to Add: 
    * A control if nothing exists

In [ ]:
def something(x):
    '''
    Using this information, 
    we're going to create our varify codon based on any
    existing alts on all positions. 

    starting from last position 312002
    '''
    import itertools

    # Merging the two tables
    x = x2[x2.snp_pos == 312002]

    # dictionary of alternate codons from pileup
    mp_dict2 = altDict(x2)


    alt_dict = mp_dict2
    # a_unique = getAlt(x) # Replaced with alt_dict[3]

    # Takes the current position of SNP
    p3 = int(x['snp_pos'])
    p2 = p3-1 
    p1 = p2-1

    subDict = {p1 : '.', p2 : '.', p3 : '.'}
    nt1=[]
    nt2=[]
    nt3=[]

    # set up to create varify_alt
    ref = str(x2['ref_codon'][0]) # starts from reference
    df = pd.DataFrame()
    temp = [i for i in ref] # temp from reference

    # create a reference dictionary
    snp_dict = {}
    # altCombo =

    # Add values from full dictionary if keys are in sub
    res = {key: alt_dict.get(key, subDict[key]) for key in subDict}
    res = ''.join(res.values())

    # if there are alts in any of the positions, create varify codon
    for p in [p1, p2, p3]:
        if p in list(alt_dict.keys()):
            pos_check = True
            break

    # If the position exists in the dictionary, then create varify_alt 
    if pos_check == True: 
        for n in range(3):
            snp_dict['snp_pos'] = int(p3)

            # alt of 'current' position if exists
            snp_dict['varify_alt'] = alt_dict[p3] if p3 in alt_dict.keys() == True else temp[2]

            # replace only values that exist
            if res[n] != '.':
                temp[n] = res[n]

            snp_dict["varify_codon"] = ''.join(temp)


        nt1.extend([snp_dict["varify_codon"][0], ref[0]])
        nt2.extend([snp_dict["varify_codon"][1], ref[1]])
        nt3.extend([snp_dict["varify_codon"][2], ref[2]])

        permutations = list(itertools.product(set(nt1), set(nt2), set(nt3)))
        snp_dict['alt_codons'] = ["".join(x) for x in permutations]
        snp_dict['alt_codons'] = ';'.join(snp_dict['alt_codons'])


        print(["".join(x) for x in permutations])



    # snp_dict output: {'snp_pos': 1100023, 'varify_alt': 'A', 'varify_codon': 'TGA'}

    # If there are extras, create extra list
    
    # Add the dictionary 
    df = df.append(snp_dict, ignore_index=True)
    df = pd.merge(x, df, on='snp_pos')
    df = df.apply(axis=1, func=altValidate)

    df = translate(df)
    #df = effect(df)

    reorg = ['chr_id', 'snp_pos', 'ref_allele', 'alt_allele', 
             'varify_alt', 'VARified', 'ref_codon', 'varify_codon', 'varify_aa', "alt_codons",
             #'effect'
            ]

    df = df[reorg]

    return df

---

# Real World Data

In [ ]:
import io
import os
import pandas as pd


def read_vcf(path):
    with open(path, 'r') as f:
        lines = [l for l in f if not l.startswith('##')]
    return pd.read_csv(
        io.StringIO(''.join(lines)),
        dtype={'#CHROM': str, 'POS': int, 'ID': str, 'REF': str, 'ALT': str,
               'QUAL': str, 'FILTER': str, 'INFO': str},
        sep='\t'
    ).rename(columns={'#CHROM': 'CHROM'})

vcf_file = '../data/ENCFF853AEO.vcf'

vcf = read_vcf(vcf_file)

vcf['POS'] == 822764

In [ ]:
vcf[vcf['POS'] >= 876431]

In [ ]:
vcffile2 = '../data/ENCFF541HLI.vcf'
vcf2 = read_vcf(vcffile2)

In [ ]:
vcf2[vcf2['POS'] >= 876431]

In [ ]:
mp3 = readMP('../data/out2.mpileup')

mp3.head()

In [ ]:
mp3[mp3['snp_pos'] >= 876887]